---
interface Props {
  post: {
    data: {
      properties: {
        bSlug: string;
        bCoverImage: string;
        bTags: string | string[];
        bTitle: string;
      };
    };
  };
}

const { post } = Astro.props;
---

<article class="bg-white rounded-lg">
    <div class="relative">
        <a href={`/blog/${post.data.properties.bSlug}/`}>
          <img
            class="w-full rounded-lg h-64 object-cover"
            src={post.data.properties.bCoverImage}
            alt=""
          />
        </a>
      </div>
  <p>
    {Array.isArray(post.data.properties.bTags)
      ? post.data.properties.bTags.map((tag: string) => (
          <span
            class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-blue-100 text-blue-800 dark:bg-blue-900 dark:text-blue-300 ml-2 mt-4 mb-2"
          >
            <a
              href={`/blog/${tag.toLowerCase().replace(/\s+/g, "-")}`}
            >
              {tag}
            </a>
          </span>
        ))
      : post.data.properties.bTags}
  </p>
  <h2 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white px-4">
    <a href={`/blog/${post.data.properties.bSlug}/`}>
      {post.data.properties.bTitle}
    </a>
  </h2>
</article>